# ===============================
# 📁 CONFIG FILES
# ===============================
# configs/
# *.json

# ===============================
# 📊 DATA FILES
# ===============================
data/
data/01-raw/
data/02-preprocessed/
*.csv
*.xlsx

# ===============================
# 🤖 MODELS
# ===============================
models/
models/pipeline/
models/production/
*.joblib
*.pkl
*.h5

# ===============================
# ⚙️ PYTHON & SYSTEM FILES
# ===============================
__pycache__/
.ipynb_checkpoints/
.env
.DS_Store
Thumbs.db

# ===============================
# 🧪 LOGS / TEMP FILES
# ===============================
*.log
tmp/